let config = {
  development: {
    "token": "asdf",
    "HOST": "localhost",
    "DBNAME": "postgres",
    "PORT": "5432",
    "USER": "postgres",
    "PASSWORD": "asdfasdfasdfasd"
  },
  production: {
    "token": "asdf",
    "HOST": "host",
    "DBNAME": "postgres",
    "PORT": "5432",
    "USER": "postgres",
    "PASSWORD": "asdfasdfasdfasd"
  },
  apis:{
    "TRANSLATE" : "asdf",
    "CX" : "asdf",
    "IMAGE" : "asdf"
  }
}

module.exports = config;